:root {
  color-scheme: light;
  --color-background: #fff;
  --color-foreground-1: #ddd;
  --color-foreground-2: #bbb;
  --color-primary-text: #000;
  --color-secondary-text: #333;
  --color-accent: orangered;
  --color-link: dodgerblue;
}